#dat__ve__xe__bus{
    background-color: rgb(245, 239, 239);
    h1{
        color: rgb(245, 163, 62);
    }
    .row{
        #chon__ghe{
            border-right: 1px solid black;
            #btn__tai__xe{
                background-color: rgb(180, 180, 180);
            }
        }
        #ghe__da__dat{
            h3{
                color: rgb(245, 163, 62);
            }
        }
    }
}